/*
=== Basic Styling ===
 */
html {
    background: rgba(1, 46, 1, 0.664);
    color: black;
    box-sizing: border-box;
}

/*
=== Keyboard Styling ===
*/
.keyboard-container {
    position: relative;
    width: 60vw;
    height: 30vh;
    margin: 35vh 15vw;
}
/*
=== White Keys Styling ===
*/
.white-key-container {
    margin: 15vh 15vw;
}
.white-key {
    text-align: center;
    display: block;
    width: 8vw;
    height: 30vh;
    background: white;
    border: 1px solid black;
}
/*
=== Black Keys Styling ===
*/
.black-key-container {
    margin: 10vh 5vw;
}
.black-key {
    position: relative;
    z-index: 1;
    top: -30vh;
    text-align: center;
    display: inline-block;
    width: 5vw;
    height: 25vh;
    background: black;
    color: white;
    border: 1px solid black;
}
#KeyW {
    left: 5.5vw;
}
#KeyE {
    left: 9vw;
}
#KeyT {
    left: 20vw;
}
#KeyY {
    left: 23vw;
}
#KeyU {
    left: 26vw;
} 