html {
    background: green;
    color: black;
    box-sizing: border-box;
}

.white-key-container {
    margin: 15vh 15vw;
    width: 70vw;
    position: relative;
}
.white-key {
    text-align: center;
    display: inline-block;
    width: 8vw;
    height: 30vh;
    background: white;
    border: 1px solid black;
}

.black-key-container {
    position: relative;
    z-index: 1;
    top: -30px;
    margin: 10vh 5vw;
    width: 70vw;
}
.black-key {
    text-align: center;
    display: inline-block;
    width: 5vw;
    height: 25vh;
    background: black;
    color: white;
    border: 1px solid black;
}