html {
    background: grey;
    color: black;
    box-sizing: border-box;
}

.white-key-container {
    margin: 15vh 15vw;
    width: 70vw;
    height: 30vh;
    display: block;
}
.white-key {
    text-align: center;
    display: inline-block;
    min-width: 8vw;
    background: white;
    border: 1px solid black;
}

.black-key-container {
    margin: 10vh 5vw;
    width: 40vw;
    display: block;
}
.black-key {
    text-align: center;
    display: inline-block;
    min-width: 8vw;
    height: 30vh;
    background: white;
    border: 1px solid black;
}